.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

@media (max-width: 1024px) {
    .container {
        flex-direction: column;
    }
}

.hero {
    display: flex;
    flex: row;
    align-items: center;
    justify-content: space-around;
}

.hero img.logo {
    height: 10rem;
    margin-right: 2rem;
}

.demo-controls {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    flex: 1;
}

.image-generator-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.image-generator-request {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.image-generator-request > .mdl-textfield {
    width: 100%;
}

.image-generator-prompt {
    flex: 1;
}

.image-generator-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 2rem;
}

.image-generator-actions > button {
    margin-bottom: 0.5rem;
    width: 100%;
}

.load-generator-input {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.load-generator-input > div.target {
    flex: 1;
    margin-right: 2rem;
}

.load-generator-input > div.clients {
    width: 7rem;
    margin-right: 2rem;
}

.load-generator-input > div.ramp {
    width: 7rem;
    margin-right: 2rem;
}

.form-container {
    width: 100%;
    padding: 22px;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12),
        0 1px 5px 0 rgba(0, 0, 0, 0.2);
    margin: 20px 0;
}

.service-info-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#expand-service-info {
    margin-right: 8px;
    cursor: pointer;
    font-size: 3rem;
    transition: transform 0.3s ease; 
}

#expand-service-info.rotated {
    transform: rotate(-90deg);
}

.service-info-body {
    width: 100%;
    max-height: 1000px;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.service-info-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.service-info-row.viz {
    margin-top: 20px;
}

.service-info-body.collapsed {
    max-height: 0;
}

.service-info-body .serivce-info-entry {
    flex: 1;
    align-items: center;
}

#load-generator-running {
    flex-direction: column;
}

.service-info-label {
    margin-bottom: 1rem;
    font-size: 135%;
}

.service-info-viz {
    display: flex; 
    align-items: center; 
    flex-direction: row;
    flex-wrap: wrap;
}

.service-info-viz > div.instance {
    width: 20px; 
    height: 20px;
    background-color: #6f6f6f;
    border-radius: 4px;
    margin-right: 6px;
    margin-bottom: 6px;
}

.service-info-viz > div.instance.load-gen-starting {
    background-color: #6bbe98;
}

.service-info-viz > div.instance.load-gen-active {
    background-color: #00522d;
}

.service-info-viz > div.instance.cloud-run-instance {
    background-color: #210ab3;
}

.gallery-container {
    flex: 1;
    align-self: flex-start;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 32px;
    overflow-x: auto;
    max-height: calc(100vh - 100px);
}

.gallery img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 0 20px 20px 0;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12),
        0 1px 5px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    /* Add cursor pointer for clickable images */
}

#loading {
    display: none;
    /* Hidden by default */
    position: fixed;
    z-index: 1000;
    /* Ensure it's on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    /* Semi-transparent white background */
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid #f3f3f3;
    /* Light grey */
    border-top: 4px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Overlay styles */
.image-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1001;
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
}

.overlay-content img {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
}

.close-overlay {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: white;
    cursor: pointer;
}